.container{
    margin-bottom: 100px;
}
.banner-bg{
    background-color: #F0FFF0;
    width: 100%;
    
}
.logo{
    width: 198px;
    height: 59px;
}
.nav-item{
    font-size: 20px;
   
}
.nav-link{
    margin-left: 20px;
}
.text-org{
    color: orange;
}
.text-grn{
    color:#21b573;
}
p{
    color: gray;
}
.half-width{
    width: 500px;
}
.new-button{
    border: none;
    border-radius: 25px;
    padding: 8px 30px;
    background-color: #21b573;
    color: white;
}
.sign-in{
    margin-left: 30px;
}
.icons{
    width: 66px;
}
.card-icon{
    
}
.card{
    width: 250px;
    height: 250px;
    border: 1px solid;
    float: left;   
}
.card-2,.card-3,.card-4{
    margin-left: 40px;
}

.img1,.img2,.img3,.img4{
    width: 70px;
    height: 80px;
    margin-top: 50px;
    margin-left: 80px ;
    margin-right: 70px;
}
.icon-con{
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
}