.container{
    margin-bottom: 100px;
}
.banner-bg{
    background-color: #F0FFF0;
    
}
.logo{
    width: 198px;
    height: 59px;
}
.nav-item{
    font-size: 25px;
   
}
.nav-link{
    margin-left: 20px;
}
.text-org{
    color: orange;
}
.text-grn{
    color:#21b573;
}
p{
    color: gray;
}
.half-width{
    width: 500px;
}